// Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


// Color  !!!!!!!! -> If the color variable doesnt come before 'Bulma Core', it doesnt work.
$grey: #64748b;

// Font Options
$size-7: 0.8rem;

// Import Bulma's core
@import "~bulma/sass/utilities/_all.sass";

// Font Family
$family-sans-serif: 'Poppins', sans-serif;
$family-primary: 'Poppins', sans-serif;

// Body
$body-background: #f1f5f9;
$body-background-color: #f1f5f9;

// Set your colors
$primary: #8c67ef;
$primary-light: findLightColor($primary);
$primary-dark: findDarkColor($primary);
$primary-invert: findColorInvert($primary);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);
/*
$danger: #db2626;
$success: #16a34a;*/
// Lists and maps
$custom-colors: null !default;
$custom-shades: null !default;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: mergeColorMaps(
    (
        "white": (
            $white,
            $black,
        ),
        "black": (
            $black,
            $white,
        ),
        "light": (
            $light,
            $light-invert,
        ),
        "dark": (
            $dark,
            $dark-invert,
        ),
        "primary": (
            $primary,
            $primary-invert,
            $primary-light,
            $primary-dark,
        ),
        "link": (
            $link,
            $link-invert,
            $link-light,
            $link-dark,
        ),
        "info": (
            $info,
            $info-invert,
            $info-light,
            $info-dark,
        ),
        "success": (
            $success,
            $success-invert,
            $success-light,
            $success-dark,
        ),
        "warning": (
            $warning,
            $warning-invert,
            $warning-light,
            $warning-dark,
        ),
        "danger": (
            $danger,
            $danger-invert,
            $danger-light,
            $danger-dark,
        ),
    ),
    $custom-colors
);

// Form Options
$label-weight: 600;

// Radiuses
$radius-small: 6px;
$radius: 6px;
$radius-large: 8px;
// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Menu
$menu-item-color: #9fa2aa;
$menu-item-hover-background-color: #2c3344;
$menu-item-radius: 6px;
$menu-item-hover-color: #ffffff;
$menu-item-active-color: #ffffff;
$menu-item-active-background-color: #2c3344;
$menu-label-color: $primary;

.menu {
    .menu-list {
        li {
            a:hover {
                text-decoration: none;
            }
        }
    }
}

body {
    background-color: $body-background-color;
}

// Card
$card-shadow: 0 1px 3px 0 #0000001a,0 1px 2px 0 #0000000f;
$card-radius: 6px;
$card-shadow:  0 1px 3px 0 #0000001a,0 1px 2px 0 #0000000f;
$card-header-shadow: 0;
$card-header-weight: 500;
.card {
    border: none;
}

// Hero
.hero {
    border-bottom: 1px solid #e2e8f0;
}

// Propery List on New Person Page
ul.new-person-property-list  {
    margin: 0;
    padding: 0;
    li {
        border-radius: $radius-small;
        border: 1px solid #dbdbdb;
        padding: 0.75rem;
        margin-bottom: 1rem;
    }
}

ul.list {
    list-style: none!important;
    margin: 0!important;
    li {
        padding: 0.5rem 0;
        &:not(:last-child) {
            border-bottom: 1px solid #e2e8f0;
        }
    }
}

// manager login
.manager-auth-left {
    background: #1e293b;
    color: rgba(148,163,184,1);
}
.full-height-for-columns {
    min-height: calc(100vh + 0.75rem);
}

// sites list class in dashboard

.sites-list {
    background: #fdfdfd;
    display: flex;
    align-items: center;
    border: 1px solid #e2e8f0;
    border-radius: $radius-large;
    cursor: pointer;
    margin-bottom: 1rem;
}
.sites-list:hover {
    background: #f6f7f9;
}
.sites-list-icon {
    border-radius: $radius-large;
    padding: 1rem;
    color: #9dabb1;
}

// unpaid expenses list in dashboard

.unpaid-expenses-list {
    font-size: 14px;
    li {
        margin-top: 0!important;
        div:first-child {
            width: 4rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        display: flex;
        align-items: center;
        cursor: pointer;
        &:hover {
            background-color: #f6f7f9;
        }
    }
}
// buefy tabs

.b-tabs ul {
    margin: 0!important;
}

.custom-table-cell {
    height: 49px;
    vertical-align: middle!important;
}

//
.light-blue-cell {
    background-color: rgba(175,211,255,0.16);

}

.light-yellow-cell {
    background-color: rgba(255,241,198,0.33);

}

// paginations first list item margin bug fixed
ul.pagination-list {
    li:first-child {
        margin-top: 0.25em;
    }
}


// Import Bulma and Buefy styles
@import "~bulma/bulma.sass";
@import "~buefy/src/scss/buefy";
